<style>
  button {
    margin-top:20px;
  }

  form {
    margin-top:20px;
  }

  button {
    float:right;
  }

  .for-field {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
  }

  fieldset {
    border: 1px solid black;
  }


</style>
<div>
  <h1> {{title}} </h1>

    <form [formGroup]="addUserForm"  (ngSubmit) = "onSubmit()" *ngIf="this.isMobile" style = "width: 100%;" >
      <fieldset class="border rounded-1 p-1">
        <legend class="float-none w-auto px-1">User data </legend>
      <div class="row for-field">
        <div class="col">
          <label for="name" >Name: </label>
          <input id="name" class="form-control" type="text" formControlName="name" [(ngModel)]="user.name">
          <div *ngIf="addUserForm.get('name')?.hasError('required') && addUserForm.get('name')?.touched" class="text-danger">
            This field is required.
        </div>
        </div>
      </div>
      <div class="row for-field">
        <div class="col">
          <label for="email" >Email: </label>
          <input id="email" class="form-control mb" type="text" formControlName="email" [(ngModel)]="user.email">  
          <div *ngIf="addUserForm.get('email')?.hasError('required') && addUserForm.get('email')?.touched" class="text-danger">
            This field is required.
        </div>
        <div *ngIf="addUserForm.get('email')?.hasError('email') && addUserForm.get('email')?.touched" class="text-danger">
          This is not correct email address.
      </div>   
        </div> 
      </div>
      <div class="row for-field">
        <div class="col">
          <label for="username" >Username: </label>
          <input id="username" class="form-control" type="text" formControlName="username" [(ngModel)]="user.username">
          <div *ngIf="addUserForm.get('username')?.hasError('required') && addUserForm.get('username')?.touched" class="text-danger">
            This field is required.
        </div>
        </div>
       </div>
       <div class="row for-field">
        <div class="col">
          <label for="phone">Phone: </label>
          <input id="phone" class="form-control" type="text" formControlName="phone"  [(ngModel)]="user.phone">
          <div *ngIf="addUserForm.get('phone')?.hasError('required') && addUserForm.get('name')?.touched" class="text-danger">
            This field is required.
          </div>
        </div>
       </div>   
      </fieldset>
      <div formGroupName="address">
      <fieldset class="border rounded-3 p-1" >
        <legend class="float-none w-auto px-1">Address</legend>
        <div class="row for-field">
          <div class="col" >
          <label for="street" >Street: </label>
          <input id="street" class="form-control" type="text"  formControlName="street" [(ngModel)]="user.address.street">
          <div *ngIf="checkAddressFieldMissing('street') && addressForm.get('street')?.touched" class="text-danger">
            This field is required.
        </div>
        </div>
        </div>
        <div class="row for-field">
          <div class="col" >
          <label for="suite" >Suite: </label>
          <input id="suite" class="form-control mb" type="text"  formControlName="suite" [(ngModel)]="user.address.suite"> 
          <div *ngIf="checkAddressFieldMissing('suite') && addressForm.get('suite')?.touched" class="text-danger">
            This field is required.
        </div>  
        </div>
         </div>
        <div class="row for-field">
          <div class="col" >
          <label for="city" >City: </label>
          <input id="city" class="form-control" type="text"  formControlName="city" [(ngModel)]="user.address.city">
          <div *ngIf="checkAddressFieldMissing('city') && addressForm.get('city')?.touched" class="text-danger">
            This field is required.
        </div>
        </div>
        </div>
        <div class="row for-field">
          <div class="col" >
          <label for="zipcode">Zipcode: </label>
          <input id="zipcode" class="form-control" type="text"  formControlName="zipcode"  [(ngModel)]="user.address.zipcode">
          <div *ngIf="checkAddressFieldMissing('zipcode') && addressForm.get('zipcode')?.touched" class="text-danger">
            This field is required.
        </div>
        </div>
        </div>    
        <div *ngIf="checkAddressNotCompleted() && addressForm.touched" style="margin-left:20px; margin-top:5px" class="row text-danger">          
            Address fields must be all filled or all empty.          
        </div>
      </fieldset>
    </div>
    <div *ngIf="successMessage && !(addUserForm.touched || addUserForm.dirty) && !(addressForm.touched || addressForm.dirty)" style="margin-left:10px; margin-top:5px" class="row text-success">
        {{successMessage}}
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-success" style="width:100%"  type="submit" >Save</button>  
      </div>   
    </div>
  </form>
  <form [formGroup]="addUserForm"  (ngSubmit) = "onSubmit()"  *ngIf="!this.isMobile" style="width: 50%; margin-bottom:0" >
    <fieldset class="border rounded-3 p-1">
      <legend class="float-none w-auto px-1">Personal information</legend>
      <div class="row for-field">
        <div class="col">
          <label for="name" >Name: </label>
          <input id="name" class="form-control" type="text" formControlName="name" [(ngModel)]="user.name">
          <div *ngIf="addUserForm.get('name')?.hasError('required') && addUserForm.get('name')?.touched" class="text-danger">
            This field is required.
        </div>
        </div>
        <div class="col">
          <label for="email" >Email: </label>
          <input id="email" class="form-control mb" type="text" formControlName="email" [(ngModel)]="user.email">
          <div *ngIf="addUserForm.get('email')?.hasError('required') && addUserForm.get('email')?.touched" class="text-danger">
            This field is required.
        </div>
        <div *ngIf="addUserForm.get('email')?.hasError('email') && addUserForm.get('email')?.touched" class="text-danger">
          This is not correct email address.
      </div>
        </div>       
      </div>
      <div class="row for-field">
        <div class="col">
          <label for="username" >Username: </label>
          <input id="username" class="form-control" type="text" formControlName="username" [(ngModel)]="user.username">
          <div *ngIf="addUserForm.get('username')?.hasError('required') && addUserForm.get('username')?.touched" class="text-danger">
            This field is required.
        </div>
        </div>
        <div class="col">
          <label for="phone">Phone: </label>
          <input id="phone" class="form-control" type="text" formControlName="phone"  [(ngModel)]="user.phone">
          <div *ngIf="addUserForm.get('phone')?.hasError('required') && addUserForm.get('phone')?.touched" class="text-danger">
            This field is required.
        </div>
        </div>
      </div>      
     </fieldset>
     <div formGroupName="address">
     <fieldset class="border rounded-3 p-1" forumGroupName="addressForm">
      <legend class="float-none w-auto px-1">Address</legend>
      <div class="row for-field" >
        <div class="col" >
           <label for="street" >Street: </label>
           <input id="street" class="form-control" type="text"  formControlName="street" [(ngModel)]="user.address.street">
           <div *ngIf="checkAddressFieldMissing('street') && addressForm.get('street')?.touched" class="text-danger">
            This field is required.
        </div>
        </div>
        <div class="col" >
           <label for="suite" >Suite: </label>
           <input id="suite" class="form-control mb" type="text"  formControlName="suite" [(ngModel)]="user.address.suite"> 
           <div *ngIf="checkAddressFieldMissing('suite') && addressForm.get('suite')?.touched" class="text-danger">
            This field is required.
        </div>
        </div>    
      </div>
      <div class="row for-field" >
        <div class="col">
           <label for="city" >City: </label>
           <input id="city" class="form-control" type="text"  formControlName="city" [(ngModel)]="user.address.city">
           <div *ngIf="checkAddressFieldMissing('city') && addressForm.get('city')?.touched" class="text-danger">
            This field is required.
        </div>
        </div>
        <div class="col" >
           <label for="zipcode">Zipcode: </label>
           <input id="zipcode" class="form-control" type="text"  formControlName="zipcode"  [(ngModel)]="user.address.zipcode">
           <div *ngIf="checkAddressFieldMissing('zipcode') && addressForm.get('zipcode')?.touched" class="text-danger">
            This field is required.
        </div>
        </div>
        
      </div>    
      <div *ngIf="checkAddressNotCompleted() && addressForm.touched" style="margin-left:20px; margin-top:5px" class="row text-danger">
        Address fields must be all filled or all empty.
      </div>
    </fieldset>
    </div>
    <div *ngIf="successMessage && !(addUserForm.touched || addUserForm.dirty) && !(addressForm.touched || addressForm.dirty)" style="margin-left:10px; margin-top:5px" class="row text-success">
       {{successMessage}}
    </div>
     <button class="btn btn-success"  type="submit" >Save</button>
  </form>
</div> 