<div class="container-fluid" >
  <div class="row flex-nowrap" >
     <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <menu-component [isAddUser]="isAddUser" (selectedMenuTabChanged)="changePage($event)" />    
        </div>
     </div>   
     <div class="col py-3" >
        <ng-template [ngIf]="isAddUser" [ngIfElse]="list_user">
          <add-user  (formSubmited)="addNewUser($event)" />
        </ng-template>
        <ng-template  #list_user>
          <list-user  [users]="users" />
        </ng-template>
     </div>
  </div>
</div>
