<!-- <header [isMobile]="isMobile" [(open)]="isMenuOpened" (openChange) = "isMenuOpened = $event"></header> -->
<header [isMobile]="isMobile" [open]="isMenuOpened" (openChange)="manageMenu($event)"></header>
 <div class="container-fluid" >
   <div class="row flex-nowrap" >
    <div *ngIf="!isMobile || isMenuOpened" style="width:200px; min-width:200px;" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" >
    <div  class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100" >
         <menu-component></menu-component>
   </div>
   </div>
   <div class="col py-3">
      <router-outlet></router-outlet>
   </div>
   </div>
 </div> 
<footer-component [isMobile]="isMobile" [isMenuOpened]="isMenuOpened"></footer-component>